{% extends "homebase.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petgram: Home</title>
</head>
<body>
    {% load static %}
        <img id="logo" src="{% static 'img/logo.png' %}" alt="Petgram Logo">
        <a href="{% url 'create' %}">
            <img id="new" src="{% static 'img/addNewpost.png' %}" alt="Add a new post" title="Add a new post">      
        </a> 
        <form id="search-bar" method = POST action = "{% url 'search_results' %}" name = "searched">
            {% csrf_token %}
            <input type="text" placeholder=" Search..." name = "searched">
        </form>
        
    <div class="posts">
        <div class="card2">
            <div class="card-content">
                <h2>Other {{user.species}}{% if user.species == 'fish' %}e{% endif %}s for you to meet!</h2>
                <div class = "user_box">
                    {% for userprofile in userprofiles|slice:":5" %}
                        {% if userprofile.user.species == current_user.species and userprofile.user != current_user %}
                            <a href="{% url 'view_other_profile' username=userprofile.user.username %}">
                                <pre><span style = "box-shadow: 0 5px 7px #20A6DB" ><img id = "profilepic" src="{{ userprofile.profile_image.url }}" alt="">  {{ userprofile.user.username }}  </span></pre>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
                <h2 style = "margin-top: 30px;">Notifications</h2>
                {% for notification in notifications|slice:":5" %}
                {% if notification.user_profile.user != current_user %}
                <div class = notification_info>
                        {% if not notification.post %}
                        <img id = "profilepic" style = "border: 2px solid black" src="{{ notification.user_profile.profile_image.url }}" alt="">
                            <a href="{% url 'view_other_profile' username=notification.user_profile.user.username %}" style = "position: relative;
                            left: 10px;">
                                <p>{{ notification.message }}</p>
                            </a>
                        {% else %}
                        <img id = "profilepic" style = "border-radius: 0px; border: 1px solid black" src="{{ notification.post.image.url }}" alt="">
                            <a href="{% url 'comment_post' notification.post.id %}" style = "position: relative;
                            left: 10px;">
                                <p>{{ notification.message }}</p>
                            </a>
                        {% endif %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="posts">
            <div class="card">
                <div class="card-content">
                    <h2>Welcome back, {{user.username}}</h2>
                    <p>We think your {{user.species}} looks adorable!</p>
                    <p>Be sure yourself! Check out your profile!</p>
                    <a href="{% url 'view_other_profile' username=user.username %}"><button>My Profile</button></a>
                    
                </div>
            </div>  
            {% if current_user.amount_of_following == 0 %}
                <p id = "opening_message">looks like you're not following anyone yet... <strong>Search</strong> for a user, and lets start your petgram journey!</p>
            {% endif %}
        {% for post in posts %}
        {% if current_user in post.user.followers.all %}
            <div class="post">      
                <div class = "info">
                    <a href="{% url 'view_other_profile' username=post.user.username %}">
                        <pre><span><img id = "profilepic" src="{{ post.user_profile.profile_image.url }}" alt="">  {{ post.user.username }}  </span></pre>
                    </a>       
                <div id = "postlikes">
                        {% if post.id in liked_posts %}
                        <a href="{% url 'like_post' post.id %}">
                            <img id = "heart" src="{% static 'img/LikedPost.png' %}" alt="">
                        </a><p>{{ post.likes}}</p>  
                        {% else %}
                        <a href="{% url 'like_post' post.id %}">
                            <img id = "heart" src="{% static 'img/likePost.svg' %}" alt="">
                        </a><p>{{ post.likes}}</p>       
                        {% endif %}
                        <a href="{% url 'comment_post' post.id %}">
                            <img id = "heart" style = "width: 25px" src="{% static 'img/comment.svg' %}" alt="">
                        </a><p>{{post.comment}}</p>
                </div>
                </div>
            {% if post.image %}
                <img id = "post_image" src="{{ post.image.url }}" alt="">
            {% endif %}
            <p>{{ post.description }}</p>
            <p id = "date">{{ post.date }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
