{% extends "homebase.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
        <img id="logo" src="{% static 'img/logo.png' %}" alt="Petgram Logo">
        <a href="{% url 'create' %}">
            <img id="new" src="{% static 'img/addNewpost.png' %}" alt="Add a new post" title="Add a new post">      
        </a> 
        <div class="search-bar">
            <input type="text" placeholder=" Search...">
        </div>
        
    <div class="posts">
        <div class="card2">
            <div class="card-content">
                <h2>Here's what's new!</h2>
                <p>Later add information to a card</p>
                <p>this should be bigger</p>
                <p>and this too</p>
                <button>hey there</button>
            </div>
        </div>
        <div class="posts">
            <div class="card">
                <div class="card-content">
                    <h2>Welcome back, {{user.username}}</h2>
                    <p>Later add information to a card</p>
                    <button>hey there</button>
                </div>
            </div>
        
        {% for post in posts %}
        <div class="post">
            
            <div class = "info">
                <a href="{% url 'view_other_profile' username=post.user.username %}">
                    <pre><span><img id = "profilepic" src="{{ post.user_profile.profile_image.url }}" alt="">  {{ post.user.username }}</span></pre>
                </a>
               
               <div id = "postlikes">
                    {% if post.id in liked_posts %}
                    <a href="{% url 'like_post' post.id %}">
                        <img id = "heart" src="{% static 'img/LikedPost.png' %}" alt="">
                    </a><p>{{ post.likes}}</p>
                    
                    {% else %}
                    <a href="{% url 'like_post' post.id %}">
                        <img id = "heart" src="{% static 'img/likePost.svg' %}" alt="">
                    </a><p>{{ post.likes}}</p>
                       
                    {% endif %}
               </div>
            </div>

            {% if post.image %}
                <img id = "post_image" src="{{ post.image.url }}" alt="">
            {% endif %}
            <p>{{ post.description }}</p>
            <p id = "date">{{ post.date }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
{% endblock %}
