{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load static %}
    <img src="{% static 'img/logo.png' %}" alt="Petgram Logo">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'index' %}" method="post">
        <h1>Welcome to Petgram!</h1>
        {% csrf_token %}
        <input type="text" name="username" placeholder="User" required value="{{ form.username.value|default:'' }}">
        <input type="password" name="password" placeholder="Password" required>
        <strong>Don't have an account? </strong><a href="{% url 'signup' %}">Join us!</a>
        <button type="submit">Login</button>
        
    </form>
</body>
</html>
{% endblock %}