<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- profile.html -->

{% if is_own_profile %}
<h2>Your Profile</h2>
{% else %}
<h2>{{ user_profile.user.username }}'s Profile</h2>
{% endif %}
<img src="{{ user_profile.profile_image.url }}" alt="">

<form method="post" action="{% if is_own_profile %}{% url 'view_own_profile' %}{% else %}{% url 'view_other_profile' username=user_profile.user.username %}{% endif %}">
{% csrf_token %}
{{ form.as_p }}


<button type="submit">Save</button>
</form>

</body>
</html>