{% extends 'profilebase.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>    
    <div class = "container">
        <div class = "user">
            <pre><h1 id = "username"><img id = "profile" src="{{ user_profile.profile_image.url }}" alt="">  {{ user_profile.user.username }}</h1></pre>
            {% if not is_own_profile %}
                    {% if is_following %}
                        <a href="{% url 'follow_user' user_profile.user.username %}">
                            <button id="follow">unfollow</button>
                        </a>
                    {% else %}
                    <a href="{% url 'follow_user' user_profile.user.username %}">
                        <button id="follow">follow</button>
                    </a>
                    {% endif %}
            {% endif %}    
        </div>
        <p id = "amounts">
            <strong>{{ user_profile.user.amount_of_followers }} </strong> followers
            <strong>{{ user_profile.user.amount_of_following}} </strong> following
        </p>
        
        {% if user_profile.bio %}
            <p id="bio">"{{ user_profile.bio }}"</p>
        {% endif %}
        <div class="posts">
            {% for post in posts %}
            <div class="post">
                {% if post.image %}
                    <img id = "post_image" src="{{ post.image.url }}" alt="">
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% if is_own_profile %}
        <details>
            <summary>Edit Profile</summary>
            <form method="post" method="POST" enctype="multipart/form-data" id="post-form">                
                   {% csrf_token %}
                   {{ form.as_p }}
                   <button type="submit">Save</button>
               </form>
        </details>
        {% endif %}
    </div>  
</body>

</html>
{% endblock %}
