body {
    font-family: 'Afacad', sans-serif;
    font-size: 18px;
}

img {
    top: 20px;
    display: block;
    margin: 30px auto;
    width: 75%;
}

.post {
    margin: 50px auto;
    width: 400px;
    padding: 1em;
    padding-top: 30px;
    border: 1px solid #CCC;
    border-radius: 10px;
    background-color: #2297c5;
    box-shadow: 0 5px 7px rgba(22, 45, 255, 0.2); /* Add shadow */
    height: 115%;
}
    
#logo {
   
    float:left;
    width: 200px;   
    margin: 10px 0; /* Add 10px margin to the top and bottom */
    margin-left: 40px;
    /* display: inline-block; */
}
.post p {
    color : white;
    text-align: center;/* Center the paragraph horizontally */
}

span {
    color: rgb(0, 0, 0);
    font-size: 18px;
    border: 1px solid #CCC; /* Add border */
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 5px 7px rgba(22, 45, 255, 0.2); /* Add inner shadow */
    background-color: #ffffff;
    
    
}
#new {
    
    display: inline-block;
    width: 30px;
   
}

.card {
    position: fixed;
    float: left;
    margin-left: 40px;
    border: 1px solid #CCC; /* Add border */
    border-radius: 10px; /* Rounded corners */
    padding: 30px; /* Add padding */
    box-shadow: 0 5px 7px rgba(22, 45, 255, 0.2); /* Add inner shadow */
}
#profilepic{
    margin : -10px 0;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-right : 2px;
    border-radius: 50%;
    overflow: hidden;
}

.card2 {
    /* Inherit styles from .card */
    border: 1px solid #CCC;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 5px 7px rgba(22, 45, 255, 0.2);
    position: fixed;
    right: 50px
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 240px;
}
.search-bar input[type="text"] {
    width: 430px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #CCC;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(22, 45, 255, 0.2);
}
button {
    display: block;
    margin-top: 20px; /* Add margin-top to lower the button */
    border-radius: 10px;
    border: 3px solid #20a6db;
    background-color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;

}
button:hover {
    background-color: #20a6db;
    color: white;
}
a {
    text-decoration: none;
}
pre {
    font-family: 'Afacad', sans-serif;
    font-size: 18px;
}

.info {
    display:  flex;
    flex-direction: row; 
}

#like {
    position: relative;
    right: 125px;
    width: 25px;
    top: -12px;
}
#num {
    position: relative;
    right: 255px;
    
}